<div style='display: flex;'>
    <mat-form-field appearance="outline" style="width: 90%; padding-bottom: 10px; height: 80px; display: inline-;">
        <input matInput #busca class="text-align">
    </mat-form-field>
    <div style="flex-grow: 3; display: inline-flex; width: 10%;"></div>
    <button mat-fab color="accent" style="display: inline-flex; " aria-label="Example icon button with a delete icon" (click)="fetch(busca.value)">
        <mat-icon>search</mat-icon>
    </button>
</div>

<app-table [dataSource]="dataSource" [route]="'cadastro'"> </app-table>